body {
background : #ffffff;
color : #000000; 
font-family : Georgia, Times New Roman, Garamond, Serif; 
font-size : 90%; 
font-style : normal;
padding: 10px;
line-height:1.4em;
} 
#accessnav, #sidebar,#footer,#commentbox {
display: none;
}






